# Frontend
frontend/node_modules/
frontend/dist/

# Environment variables
.env
.env.local
.env.*.local
frontend/.env
frontend/.env.local
frontend/.env.*.local
backend/.env

# Backend
backend/target/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db